#sk_breadcrumbs {
  width:100%;
float:left;
 z-index:8;
margin-bottom: 10px;
display: block;
padding; 0;
margin:0;
height: 32px;
}

 #sk_breadcrumbs  .sk_breadcrumb_text{
display:block;
float:left;
color:#777777;
font-size: 0.8333em;
}

#sk_breadcrumbs ul {    
display: block;
    float: left;
    margin: 0;
    padding: 0;
  }
 
#sk_breadcrumbs ul li {    
display: block;
    float: left;
    font-size: 0.8333em;
    line-height: 1em;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

#sk_breadcrumbs ul li a,
#sk_breadcrumbs ul li strong {
    color: #777777;
    margin: 2px 8px;
    padding: 0;
    text-decoration: none;
    width: auto;
  }
#sk_breadcrumbs ul li a:hover,
  {
    text-decoration: none; 
  color: #777777;
  }
