.sk_faq a,
.sk_faq a:hover{
text-decoration: none;
color: #57738C;
}

.sk_faq .sk_text{
min-height: 0;
}

.sk_faq .sk_list{
border-top: 1px #57738C dotted;
}

.sk_faq .sk_list .sk_top_link{
font-size: 0.8333em;
}

.sk_faq .sk_list h3{
font-size: 1em;
line-height: 2em;
margin-top: 10px;
}

.sk_faq ul{
margin-bottom: 32px;
}

.sk_faq ul.list-item--circle li{
  list-style-type: disc;
}

.sk_faq ul li{
list-style: none;
line-height: 2em;
}

.sk_faq ul li a{
border-bottom: 1px #57738C dotted;
}

