

/*****************/
/** columns **/
/*****************/
#col3 {
border-left:1px dotted #57738C;
border-right:1px dotted #57738C;
}
/*****************/



/*****************/
/** left navigation **/
/*****************/
#submenu {
border-bottom:2px dotted #57738C;
border-top:2px dotted #57738C;
}

#submenu a{
  color: #57738C;
}

/*****************/


#sk_breadcrumbs .sk_breadcrumb_text{
color: #57738C;
}

#sk_breadcrumbs ul li a, 
#sk_breadcrumbs ul li strong {
color: #57738C;
border-bottom: 1px  #57738C dotted;
font-weight: normal;
}


.sk_breadcrumb_separator{
font-size: 0.8333em;
color: #57738C;
}




#col3_content p a {
border-bottom:1px dotted #57738C;
color: #57738C;
}

#col3_content .p--heading-1,
#col3_content .p--heading-2,
#col3_content .p--heading-3{
color: #57738C;
}

#col3_content h2,
#col3_content h2 a{
color: #57738C;
}

#channelteaser h2 a, 
#channelteaser h2 a:hover {
color: #57738C;
}


#col3_content .font-name--courier{
color: #57738C;
}


.sk_text td a, 
.sk_text td a:hover {
border-bottom:1px dotted #57738C;
color: #57738C;
}


.sk_text td {
border: 0;
}




#col2_content p a, 
#col2_content p a:hover {
border-bottom:1px dotted  #57738C;
color: #57738C;
}

#sk_footer_content ul li a {
border-bottom:1px dotted #57738C;
color: #57738C;
}





.sk_sitemap,
.sk_sitemap a,
.sk_sitemap li a,
.sk_sitemap li li a,
.sk_sitemap li li li a{
color: #57738C;
}
