 /******** Sitemap-Formats ********/

 .sk_sitemap {margin-bottom: 30px;}
.sk_sitemap ul{margin-top: 10px;}
/*.sk_sitemap ul ul{border: 1px red solid;}*/
.sk_sitemap li {list-style: none;}
.sk_sitemap li a{
font-weight: bold;
font-size: 1em;
color: #333333;
text-decoration: none;
}
.sk_sitemap li li a{
font-weight: bold;
font-size: 0.916em;
color: #777777;
}

.sk_sitemap li li li a{
font-weight: normal;
font-size: 0.916em;
color: #333333;
}
.sk_sitemap ul ul{margin-top: 0px;}
