.subcolumns{

}


.subcolumns a:hover{
text-decoration: none;
}



.subcolumns h2,
.subcolumns h2 a
{
font-size: 0.6em;
}

.subcolumns p a
{
font-size: 0.8333em;
}




 .c50l, .c50r{
 /*float: left;*/
 width:100%;
 margin-top: 24px;
 border-top: 1px #4D87C7 dotted;
padding-top: 12px;
margin-left: 0;
margin-right: 0;
}
  .subc  { padding: 0pt 0em }
  .subcl { padding: 0pt 0em 0pt 0pt }
  .subcr { padding: 0pt 0pt 0pt 0em }
